

#main {
	background-color: white;
	min-height: 300px;
	overflow: hidden;
}

#column1 {
	background-color: #009;
	width: 600px;
	float: right;
	min-height: 350px;
}

#sidebar {
	background-color: #999;
	min-height: 300px;
	margin-right: 600px;
}
footer {
	background-color: #090;
	min-height: 60px;
}