body { 
    background-image: url(http://files.vividscreen.info/soft/849aebac7ceed5ca8d38b4d3e4595d2e/Graphic-Design-Background-1920x1080.jpg); 
}

fieldset{
	background-color: #E6E6FA;
	width: 400px;
}

h1{
	text-align: center;
}